<!DOCTYPE html>
<html lang="en">
<head>
    <title>Email Generator</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Something Wrong</h1>

<h2> <%= Error %></h2>

<button value="Return to Email Form" href="/email/" />

</body>
</html>