<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Email Generator v1.0</h2>
    <form action="/email/generate" method="post">
        First Name: <input type="text" name="name" placeholder="Input your name" /><br><br>
        Last Name: <input type="text" name="surname" placeholder="Input your last name" /><br><br>
        Company: <input type="text" name="company" placeholder="Input your company name" /><br><br>
        <input type="submit" value="accept"/><br><br><hr>
    </form>
</body>
<html>