<html lang="en">
<head>
    <title>Email Generator</title>
    <meta charset="UTF-8">
</head>
<body>

<h2>Email: <%= email %></h2>
<h2>Save date: <%= date %></h2>

<form action="/email/" method="Get">
    <input type="submit" value="Return"> <br><br>
</form>

</body>
</html>